@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #d5d8d1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bec5be;
}
::-webkit-scrollbar-track {
  background-color: #eeecec;
}

:root {
  font-family: "Roboto", sans-serif;
}

.shadow-custom {
  box-shadow: 0px 1px 2px 0px rgba(15, 22, 36, 0.06),
    0px 1px 3px 0px rgba(15, 22, 36, 0.1) !important;
}
.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.custom-pie-chart:focus {
  outline: none;
}

.custom-pie-chart *:focus {
  outline: none;
}
